@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}

.drag {
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 30px;
}