@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}

body {
  font-family: "Arial", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
  font-size: 1.2em;
  background-color: #f2f2f2;
  color: black;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #707070f5;
}

button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

#drag {
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 20px 0;
}

#add-row, #update-table, #create-table {
  display: none;
}

.app-message-hidden {
  display: none;
  border: 1px solid #aaa;
  padding: 8px;
  background-color: #f4f4f4;
  margin: 10px 0;
  border-radius: 4px;
}

.app-message-visible {
  display: block;
}