/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Header Styles */
header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  font-size: 2.5em;
  margin: 0;
}

.title-clock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1em;
}

#date-time-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* This will align them on top of the buttons */
  margin-bottom: 0.5em; /* Space between date-time and buttons */
}

#date-display, #clock-display {
  background-color: #333;
  padding: 8px 16px;
  border-radius: 10px;
  margin: 0 5px;
  font-size: 0.9em;
}

/* Button Styles */
button {
  background-color: #28a745; /* Bootstrap's btn-success color */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #218838; /* A darker green for hover state */
  transform: translateY(-2px); /* Slight raise effect on hover */
}

/* Special button styles for add-column-btn */
.add-column-btn {
  display: none;
  background-color: #f0f0f0;
  color: #333;
  padding: 0px 6px;
  font-size: 0.8em;
  margin: 0px 5px;
}

.add-column-btn:hover, .remove-column-btn:hover, .sort-btn:hover {
  background-color: #f0f0f0; /* A darker green for hover state */
  transform: translateY(-2px); /* Slight raise effect on hover */
}

th:hover .add-column-btn {
  display: inline;
}

.remove-column-btn, .sort-btn {
  background-color: #f0f0f0;
  color: #333;
  padding: 0px 6px;
  font-size: 0.8em;
  margin: 0;
}

.remove-column-btn {
  display: none;
}

th:hover .remove-column-btn {
  display: inline-block;
}

/* Drag and Drop Area Styles */
#drag {
  border: 2px dashed #28a745;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  width: 90%; /* Match table width */
  transition: background-color 0.3s;
}

#drag:hover {
  background-color: rgba(40, 167, 69, 0.1); /* Slight highlight on hover */
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #f2f2f2;
  color: #333;
}

th, td {
  border: 1px solid #404040; /* Darker border color for better contrast */
  border-bottom: 1px solid #606060; /* Slightly lighter border for the bottom to distinguish between rows */
  text-align: center; /* Centers text horizontally */
  vertical-align: middle; /* Centers content vertically */
}

/* Additional styling for header cells if needed */
th {
  background-color: #f2f2f2;
  color: black;
  padding: 10px 5px;
}

td {
  padding: 0 10px;
}

/* Styles for each part inside the header cell */
th > div, th > .sort-btn {
  font-size: 0.8em; /* Smaller font size for the text */
  margin: 0; /* Remove margin to ensure the elements are flush against each other */
  flex: 1; /* Each child takes equal space */
  text-align: center; /* Center the text */
  display: inline;
}

/* Ensure that the editable div doesn't overflow */
th > div[contenteditable="true"] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em; /* Smaller font size for the text */
  margin: 0 5px; /* Add space between the elements */
}

/* Zebra Striping for table rows */
tr:nth-child(odd) { /* targeting odd rows for one color */
  background-color: #ddd;
}

tr:nth-child(even) { /* targeting even rows for another color */
  background-color: #eee;
}

/* Hide buttons initially and show them when needed */
#add-row, #update-table, #create-table, #return-home {
  display: none;
}

/* Remove Row Button Styles */
.remove-row {
  color: white;
  background: #dc3545; /* Bootstrap's btn-danger color */
  cursor: pointer;
}

.remove-row:hover {
  background: #c82333; /* A darker red for hover state */
}

.remove-row:hover {
  text-decoration: underline;
}

.pin-row-btn {
  margin: auto; /* Centers the checkbox horizontally */
  display: block; /* Makes the checkbox a block element to allow margin auto to work */
  appearance: none; /* Removes default checkbox styling */
  cursor: pointer; /* Changes cursor to pointer to indicate clickable item */
  width: 24px; /* Width of the button */
  height: 24px; /* Height of the button */
  padding: 0; /* Removes padding to ensure the icon covers the button area */
  background-color: transparent; /* Transparent background */
  border: none; /* Removes border */
  background-size: cover; /* Ensure the icon covers the button area */
  outline: none; /* Removes the outline to avoid default focus styles */
}

table tbody tr.pinned-row {
  background-color: #ffd700; /* Gold color for favorite rows */
}

/* Message Box Styles */
.app-message-visible, .app-message-hidden {
  padding: 10px;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 15px 0; /* Adds space above and below the message box */
  text-align: center; /* Centers the text inside the message box */
  width: 50%; /* Match the width of the table and drag area */
  transition: all 0.3s ease; /* Smooth transition for showing and hiding */
}

.app-message-hidden {
  display: none; /* Keep it hidden by default */
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .title-clock {
    align-items: center;
  }

  #date-time-container {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5em;
  }

  button {
    padding: 8px 16px;
  }
}